.login-page {
    width: 100%;
    max-width: 425px;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(114, 146, 62);

    .h_1 {
        font-size: 1.2rem;
        margin-top: 0.5rem;
        font-weight: bold;
    }

    .buttons-container {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .input-field_1 {
            padding: 0.2rem;
            border: 1px solid black;
            border-radius: 0.4rem;
            width: 80%;
        }

        .button_1 {
            background-color: azure;
            padding: 0.2rem 0rem;
            width: 80%;
        }
    }

    .picture {
        width: 50%;
        display: flex;
        justify-content: center;
        border-radius: 10rem;
        position: absolute;
        bottom: 0;
        margin-bottom: 3rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        img {
            // border-radius: 10rem;
        }
    }
}