.manage-your-team {
    width: 100%;
    max-width: 425px;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(114, 146, 62);


    .navbar {
        background-color: rgb(140, 172, 90);
        box-shadow: 0px 15px 20px rgb(140, 172, 90);
        width: 100%;
        font-size: 0.75rem;


        .items {
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;
            width: 100%;
        }
    }

    .h_1 {
        font-size: 1.2rem;
        margin-top: 0.5rem;
        font-weight: bold;
    }

    .main {
        width: 100%;
        max-height: 70%;
        overflow: auto;
    }

    .buttons-container {
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        margin-bottom: 0.5rem;

        .input-field_1 {
            padding: 0.2rem;
            border: 1px solid black;
            border-radius: 0.4rem;
            width: 80%;
        }

        .button_1 {
            background-color: azure;
            padding: 0.2rem 0rem;
            width: 80%;
        }
    }
}