.dashboard {
    width: 100%;
    max-width: 425px;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(114, 146, 62);


    .navbar {
        background-color: rgb(140, 172, 90);
        box-shadow: 0px 15px 20px rgb(140, 172, 90);
        width: 100%;
        font-size: 0.75rem;


        .items {
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;
            width: 100%;
        }
    }

    .main {
        width: 100%;
        padding: 1rem;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 3rem;
            width: 100%;
            border-bottom: 1px solid rgb(238, 255, 0);
            padding-bottom: 0.5rem;

            .label {
                height: 2rem;
                font-size: 1.5rem;
            }

            .action {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 7rem;

                .image {
                    height: 2rem;
                }

            }
        }

        .data {
            width: 100%;
            padding: 1rem;
            height: 10rem;
            background-color: rgba(255, 255, 255, 0.171);
            box-shadow: 0px 0px 20px rgb(140, 172, 90);
            position: relative;

            .row {
                width: 100%;
                display: flex;
                justify-content: space-between;

                td {
                    padding: 0.2rem;
                }

                .player-name {
                    width: 50%;
                }

                .player-goals {
                    width: 25%;
                }

                .player-score {
                    width: 25%;
                }
            }
        }


        .last-row {
            width: 100%;
            text-align: right;
            position: absolute;
            bottom: 0;
            padding-bottom: 0.5rem;
        }
    }

    .buttons-container {
        width: 100%;
        // height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        margin-bottom: 2rem;

        .button_1 {
            background-color: azure;
            padding: 0.2rem 0rem;
            width: 80%;
            margin: 0.25rem 0;
        }

        .button_2 {
            background-color: rgb(228, 4, 4);
            padding: 0.2rem 0rem;
            width: 80%;
            color: rgb(255, 255, 255);
            margin: 0.25rem 0;
        }
    }
}