.my-club {
    display: flex;
    justify-content: center;

    .middle-container {
        // border: dashed 1px grey;
        min-height: 80.3rem * 10 / 16;
        min-width: 120rem * 10 / 16;
        margin-top: 4rem * 10 / 16;
        box-shadow: 0px 0px 35px 20px rgba(0, 0, 0, 0.25);
        background-image: url("./assets/pexels-pixabay-39362.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 0;

        .faked-opacity {
            min-width: inherit;
            min-height: inherit;
            background-color: rgba(255, 255, 255, 0.9);
            position: absolute;
            opacity: 0.85;
            z-index: -10;
            position: absolute;
        }

        .used-area {
            // border: 1px dashed black;
            width: 100%;
            height: 100%;
            // z-index: 10;
            position: absolute;
            padding: 2rem * 10 / 16;

            .upper-info {
                display: flex;
                justify-content: space-between;
                background-color: rgba(0, 255, 255, 0.438);
            }

            .leagues-clubs-nations {
                min-width: inherit;
                min-height: 5rem;
                // border: dashed 1px red;
                margin-top: 1rem;
                display: flex;
                justify-content: space-between;

                .group {
                    display: flex;
                    justify-content: space-between;
                    // border: 1px dashed black;
                    min-width: 27rem * 10 / 16;

                }
            }

            .see-all {
                display: flex;
                justify-content: flex-end;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .players-overview {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;
                background-color: rgba(0, 255, 255, 0.438);

                .small {
                    display: flex;
                    justify-content: space-between;
                    width: 13rem;

                    .active {
                        font-weight: bold;
                        text-decoration: underline;
                    }
                }
            }

            .attributes {
                // border: 1px dashed blue;
                min-width: inherit;
                height: 15rem;
                overflow: hidden;
                display: flex;
                justify-content: space-between;

                .column {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }

            .statistics-overview {
                display: flex;
                justify-content: space-between;
                background-color: rgba(0, 255, 255, 0.438);
                margin-bottom: 0.25rem;

                .small {
                    display: flex;
                    justify-content: space-between;
                    // width: 36rem;

                    .active {
                        font-weight: bold;
                        text-decoration: underline;
                    }

                    .spacer {
                        padding: 0 0.5rem;
                    }

                    .switch {
                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
            }

            .data {
                // border: 1px dashed green;
                min-width: inherit;
                min-height: 15rem;
                // margin-bottom: 0.25rem;

                .row {
                    display: flex;
                    justify-content: space-between;
                }

                .container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    // border: 1px dashed red;
                    margin-top: 1rem;

                    .header-bar {
                        display: flex;
                        width: 100%;
                        background-color: rgba(0, 255, 255, 0.438);

                        .type {
                            width: 65%;
                        }

                        .score {
                            width: 5%;
                            text-align: center;
                        }

                        .points {
                            width: 25%;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}