.manage-your-teams {
    width: 100%;
    max-width: 425px;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(114, 146, 62);

    .h_1 {
        font-size: 1.2rem;
        margin-top: 0.5rem;
        font-weight: bold;
    }

    .main {
        width: 100%;
        max-height: 70%;
        overflow: auto;

        .active-column {
            background-color: rgb(163, 71, 71);
            border-radius: 2rem;
            text-align: center;
            color: white;
        }
    }

    .table-body {
        overflow: auto;
        max-height: 65%;
    }

    .buttons-container {
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        margin-bottom: 0.5rem;

        .input-field_1 {
            padding: 0.2rem;
            border: 1px solid black;
            border-radius: 0.4rem;
            width: 80%;
        }

        .button_1 {
            background-color: azure;
            padding: 0.2rem 0rem;
            width: 80%;
            margin: 0.25rem 0;
        }

        .button_2 {
            background-color: rgb(228, 4, 4);
            padding: 0.2rem 0rem;
            width: 80%;
            color: rgb(255, 255, 255);
            margin: 0.25rem 0;
        }
    }
}