.batch-count-players-nations {
    position: relative;
    // border: 1px dashed black;
    width: fit-content;
    min-width: 8rem * 10 / 16;
    min-height: 8rem * 10 / 16;

    .amount {
        background-color: white;
        border: 1px solid grey;
        width: 3rem * 10 /16;
        height: 3rem * 10 /16;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        right: 0;

        .number {
            padding-bottom: 2px;
        }
    }

    .picture {
        // margin: 1.5rem;
        // background-color: rgb(20, 20, 20);
        width: 7rem * 10 / 16;
        position: absolute;
        z-index: -10;
        bottom: 20px;
    }
}