.player-score-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0.1rem 0.3rem;
    height: 2.7rem;
    border: 1px solid lightgray;

    .name {
        width: 45%;
        overflow: hidden;
    }

    .position {
        width: 10%;
        text-align: center;
    }

    .image {
        // width: 15%;
        height: 2.5rem;
    }

    .goals {
        width: 5%;
        text-align: center;
    }

    .assistences {
        width: 5%;
        text-align: center;
    }

    .points {
        width: 25%;
        text-align: center;
    }
}