.TopMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 3rem;
    background-color: lightcyan;
    border-bottom: solid 1px black;
    // padding-bottom: 1rem;

    .first-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .second-row {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}