.batch-attributes {
    // border: dashed 1px red;
    // background-color: rgb(110, 189, 110);
    width: fit-content;
    min-width: 35rem * 10 / 16;
    height: 7rem * 10 / 16;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .type {
        height: 2.5rem;
        width: 12rem * 10 / 16;
        overflow: hidden;
    }

    .rank {
        font-size: 22px;
        position: relative;
        width: 3rem * 10 / 16;
        height: 3rem * 10 / 16;
        display: flex;
        justify-content: center;
        align-items: center;

        .batch {
            width: 6.5rem * 10 / 16;
            position: absolute;
            z-index: 0;
            // top: -1px;
            // right: -8px;
        }

        .value {
            position: absolute;
            top: -14px;
            z-index: 0;
            font-size: 26px;
            font-weight: bold;
        }
    }

    .name {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 12rem * 10 / 16;
    }

    .picture-transparent {
        // margin: 1.5rem;
        // background-color: rgb(73, 73, 73);
        border-radius: 2px;
        width: 7rem * 10 / 16;
        // position: absolute;
        z-index: -10;
        bottom: 0;
    }

    .picture-dark {
        // margin: 1.5rem;
        background-color: rgb(73, 73, 73);
        border-radius: 2px;
        width: 7rem * 10 / 16;
        // position: absolute;
        // z-index: -10;
        bottom: 0;
    }

}