.add-goals {
    display: flex;
    justify-content: center;

    .middle-container {
        // border: dashed 1px grey;
        min-height: 80.3rem * 10 / 16;
        min-width: 120rem * 10 / 16;
        margin-top: 4rem * 10 / 16;
        box-shadow: 0px 0px 35px 20px rgba(0, 0, 0, 0.25);
        background-image: url("./assets/pexels-zac-frith-918798.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 0;

        .faked-opacity {
            min-width: inherit;
            min-height: inherit;
            background-color: rgba(255, 255, 255, 0.9);
            position: absolute;
            opacity: 0.85;
            z-index: -10;
            position: absolute;
        }

        .used-area {
            // border: 1px dashed black;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            // z-index: 10;
            position: absolute;
            padding: 2rem * 10 / 16;

            .row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 50%;
                margin: 0.5rem;
                position: relative;

                .date {
                    border: solid 1px black;
                    padding: 0.1rem;
                    border-radius: 5px;
                }

                .dropdown {
                    border: solid 1px black;
                    padding: 0.1rem;
                    border-radius: 5px;
                }

                .players-container {
                    // min-height: 5rem;
                    width: 100%;
                    background-color: white;
                    // position: absolute;

                    table > thead, tbody > tr > td {
                        padding-left: 0.4rem;
                        padding-right: 0.4rem;
                        text-align: center;
                    }

                    .row-score {
                        display: flex;
                        width: 100%;

                        .col_1 {
                            width: 50%;
                            text-align: center;
                        }

                        .col {
                            width: 25%;
                            text-align: center;

                            .input-score {
                                width: 4rem;
                                border: 1px solid black;
                                text-align: center;
                            }
                        }
                    }
                }
            }

            .hidden {
                display: none;
            }
        }
    }


}