.search-players {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .background {
        background-color: black;
        opacity: 0.5;
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 10;
        position: absolute;
    }

    .control-bar {
        position: relative;
        display: flex;
        justify-content: space-between;
        background-color: aliceblue;
        width: 90%;
        z-index: 20;
        padding: 0.2rem;
        margin-top: 0.5rem;
        .img-arrow {
            width: 2rem;

        }
        .img-arrow-hidden {
            width: 2rem;
            visibility: hidden;
        }
    }

    .main {
        position: absolute;
        // background-color: aliceblue;
        padding-left: 1rem;
        padding-right: 1rem;
        z-index: 15;
        width: 95%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;
        overflow: auto;
        
        .message {
            margin-bottom: 2rem;
            text-align: center;
        }
        
        .buttons {
            display: flex;
            justify-content: space-between;
            width: 100%;

            button {
                color: black;
            }
        }
    }

    .control-bar-bottom {
        position: absolute;
        bottom: 0;
        // width: 90%;
        z-index: 20;
        background-color: rgb(26, 31, 36);
        min-height: 1rem;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: center;
    }
}