.modal-delete {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .background {
        background-color: black;
        opacity: 0.5;
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 10;
        position: absolute;
    }

    .main {
        position: absolute;
        background-color: aliceblue;
        padding: 1rem;
        z-index: 15;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        .message {
            margin-bottom: 2rem;
            text-align: center;
        }
        
        .buttons {
            display: flex;
            justify-content: space-between;
            width: 100%;

            button {
                color: black;
            }
        }
    }
}