.isClickable {
    background-color: lightgray;
    margin: 0.2rem 0.5rem;
    padding: 0.1rem 0.5rem;
    border-radius: 0.2rem;

    &:hover {
        cursor: pointer;
        background-color: rgb(133, 133, 133);
    }
}

.isClickable-in-table {
    background-color: rgb(196, 138, 138);
    margin: 0.1rem;
    padding: 0.1rem;
    border-radius: 0.2rem;
    border: 1px solid black;

    &:hover {
        cursor: pointer;
        background-color: rgb(136, 41, 41);
    }
}

.isHidden {
    display: none;
}

.isInput {
    border: 1px solid grey;
    padding: 0.1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.2rem;
}

.isFilterActive {
    background-color: green;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 0.2rem;

    &:hover {
        cursor: pointer;
        // background-color: rgb(1, 96, 1);
        // color: white;
    }
}

.isFilterInactive {
    background-color: grey;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 0.2rem;

    &:hover {
        cursor: pointer;
        // background-color: rgb(74, 74, 74);
        // color: white;
    }
}

.isTable {
    // margin: 0.1rem;
    padding: 0.1rem;
    border: 1px solid grey;
    width: 100%;
    max-width: 100%;

    thead {
        border: 1px solid grey;
    }

    th,
    td {
        padding: 0.1rem;
        text-align: center;
    }
}

.isColumn {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;

    label,
    input {
        min-height: 2rem;
    }
}

.isRow {
    display: flex;
    flex-direction: row;
}



.isShown {
    display: block;
}

.hasBorder {
    border: 1px solid black;
    border-radius: 5px;
}

@media screen and (max-width: 767px) {}