.nav-bar {
    width: 100%;
    max-width: 425px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(114, 146, 62);


    .navbar {
        background-color: rgb(140, 172, 90);
        box-shadow: 0px 10px 10px rgb(140, 172, 90);
        width: 100%;
        font-size: 0.75rem;


        .items {
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;
            width: 100%;
        }
    }
}