.player-info {
    background-color: #b3ab66;
    width: 100%;
    min-height: 7rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;

    .avatar {
        // height: 6rem;
        width: 35%;
        // width: 2rem;
    }

    .base-props {
        display: flex;
        width: 45%;
        height: 100%;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        .commonName {
            // height: 6rem;
            font-size: 1.5rem;
        }
        .rating {
            font-size: 1rem;
            // height: 6rem;
        }
    }

    .personal {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 15%;

        .img-nation {
            height: 1rem;
            // width: 2rem;
        }

        .img-league {
            // height: 2rem;
            width: 100%;
            // width: 2rem;
        }

        .img-club {
            height: 2rem;
            // width: 2rem;
        }
    }


}

.player-info-active {
    background-color: #65ce34;
}