.modal-players {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 20;
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    overflow: scroll;
    padding-top: 3rem;

    .close {
        width: 100%;
        // background-color: green;
        text-align: right;
        position: fixed;
        top: 0;
        right: 1rem;


        .sign {
            padding-top: 1rem;
            padding-right: 0.1rem;

            &:hover {
                cursor: pointer;
            }
        }

    }

    .label {

        &:hover {
            cursor: pointer;
            color: rgb(241, 176, 90);
        }
    }

    .label-marked {
        background-color: orange;
        color: black;

        &:hover {
            cursor: pointer;
            color: rgb(117, 117, 117);
        }
    }
}