.database {
    .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(167, 136, 196);

        .filter-rows {
            display: flex;
            width: 100%;
            justify-content: start;

            .row {

                label {
                    padding-right: 1rem * 10 / 16;
                }

                display: flex;
                justify-content: space-between;
                // width: 38rem * 10 / 16;
                // padding-top: 0.1rem * 10 / 16;
                // padding-bottom: 0.1rem * 10 / 16;
                padding: 0.3rem * 10 / 16;
            }

            .hidden {
                display: none;
            }
        }

        .extended-attributes {
            background-color: rgb(148, 172, 106);
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin-top: 1rem * 10 / 16;
            cursor: pointer;

            div {
                padding-left: 1rem;
                padding-right: 1rem;
            }

            .active {
                background-color: rgb(179, 202, 139);
            }
        }

        .extended-attributes-hidden {
            display: none;
        }

        .extended-attributes-bottom {
            background-color: rgb(179, 202, 139);
            display: flex;
            justify-content: space-around;
            width: 100%;
            padding: 1.5rem * 10 / 16 0;

            .group {
                display: flex;
                width: 100%;
                justify-content: space-around;

                .line {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .label {
                        text-transform: uppercase;
                        font-weight: bold;
                    }

                    .row {
                        display: flex;
                        font-size: small;
                    }

                    div {
                        padding-left: 0.5rem * 10 / 16;
                        padding-right: 0.5rem * 10 / 16;
                    }
                }

                input {
                    width: 5rem * 10 /16;
                    text-align: center;
                    border-radius: 0.5rem * 10 /16;
                    border: 1px solid black;
                    margin-left: 0.4rem * 10 / 16;
                }
            }
        }

        .info-panel {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            width: 100%;
            margin: 1rem * 10 / 16;

            .previous-page {
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .page {
                background-color: chartreuse;
                width: 2.5rem * 10 / 16;
                height: 2.5rem * 10 / 16;
                border-radius: 50%;
                margin: 0.2rem * 10 / 16;
            }

            .next-page {
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}